@model VrrrRent.Models.Rental

@{
    ViewData["Title"] = "Rent";
}

<section id="details">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Rent a Car</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="title">Car Brand</label>
                                <input type="text" class="form-control" placeholder="Any Brand">
                            </div>
                            <div class="form-group">
                                <label for="category">Class</label>
                                <select class="form-control">
                                    <option value="" selected>Luxury</option>
                                    <option value="">Sedan</option>
                                    <option value="">Coupe</option>
                                    <option value="">Sport</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="title">Pick-Up Location</label>
                                <input type="text" class="form-control" placeholder="Any of our dealerships">
                            </div>
                            <div class="form-group">
                                <label for="title">Drop-Off Location</label>
                                <input type="text" class="form-control" placeholder="Any of our dealerships">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Rent now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>