
@{
    ViewData["Title"] = "View";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VrrrRent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>Dealerships</h1>

<table>
    <tbody>
        <tr>
            <td>
                <img src="~/img/hertz-rental-car.jpg" width="750" height="375" />
            </td>
            <td>
                <br /><b>Adress:</b>
                <br />Baltimore
                <br />8115 Belair Road
                <br />Baltimore, MD 21236
                <br /><b>Contact number:</b>
                <br />+1 (800) 654-2240, in the USA and Canada
                <br />+1 (405) 749-4434 from other locations
            </td>
        </tr>
        <tr>
            <td>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1542.0311516569432!2d-76.50541293556915!3d39.37746653840325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c808f5314fe8af%3A0xaeb0cfb518618363!2s8115%20Belair%20Rd%2C%20Nottingham%2C%20MD%2021236%2C%20Statele%20Unite%20ale%20Americii!5e0!3m2!1sro!2sro!4v1622148875988!5m2!1sro!2sro"
                        width="750"
                        height="375"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"></iframe>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/img/hertz-2.png" width="750" height="375" />
            </td>
            <td>
                <br /><b>Adress:</b>
                <br />Denver
                <br />4940 South Broadway
                <br />Englewood, CO 80113
                <br /><b>Contact number:</b>
                <br />877-721-0013, in the USA and Canada
            </td>
        </tr>
        <tr>
            <td>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3073.0076404291576!2d-104.98967768430339!3d39.6270318112094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c80578baaa431%3A0xc03257a8a7607c5a!2s4940%20S%20Broadway%2C%20Englewood%2C%20CO%2080113%2C%20Statele%20Unite%20ale%20Americii!5e0!3m2!1sro!2sro!4v1622149845522!5m2!1sro!2sro"
                        width="750"
                        height="375"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"></iframe>
            </td>
        </tr>

    </tbody>
</table>