@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image:url(/img/cars.png); background-size:cover;">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3>Feel free to explore our site and find the car that suits you the best!</h3>
    </div>
</body>